html, body {
    margin: 0;
    padding: 0;
    background: url(/assets/bg.png);
    background-repeat: repeat-x;
    font-family: sans-serif;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    font-style: italic;
    text-decoration: none;
}

h1 {
    margin: 0 auto;
    width: 600px;
    padding: 250px 0 0 0;
    font-family: serif;
    font-style: italic;
    font-size: 25pt;
}

#bottle {
    float: right;
    margin-top: -260px;
}

#header {
    margin: 0 auto;
    padding: 0 45px;
    width: 600px;
    background: url(/assets/banner.png);
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    -moz-border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0 0 50px 0;
}

#navigation li {
    margin: 0 35px;
    padding: 0;
}

#navigation li a {
    display: block;
    width: 150px;
    margin: 0;
    padding: 0.5em;
    vertical-align: bottom;
    text-align: center;
    color: white;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
}

#navigation li a:hover {
    background-color: #4671D5;
    color: white;
}

#title a {
    background-color: #06266F;
}

h2 {
    margin: 0 0 1em 0;
    padding: 5px 20px;
    border-bottom: 3px solid navy;
    color: navy;
}

h3 {
    padding: 5px 20px;
    border-bottom: 1px dashed navy;
    color: navy;
}

#content {
    margin: 0 auto;
    margin-top: -50px;
    padding: 3em 45px 1em 45px;
    width: 600px;
    text-align: justify;
    background-color: white;
    color: black;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    -moz-border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
}

#content table { width: 100%; }
#content>p     { text-indent: 2em; }

.image {
    float: left;
    border: 1px solid #CCC;
    background-color: #EEE;
    padding: 20px;
    padding-bottom: 15px;
    width: 300px;
    margin: 0 1em 0.5em 1em;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

img {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.image p {
    margin: 0;
    font-size: small;
}

.cover     { width: 200px; padding: 20px;  }
.cover img { border: 2px solid black; }

#index {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#index li {
    margin: 2em;
}

#index p {
    margin: 0.5em 0;
}

#content a         { color: navy; }
#content a:visited { color: blue; }

.date {
    float: right;
    margin-left: 2em;
}

#mandolin {
    text-align: center;
    margin: 0;
    padding: 1em;
    white-space: nowrap;
}

#mandolin a {
    font-size: large;
    font-weight: bold;
}

#footer {
    clear: both;
    width: 600px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 1em 45px;
    background: url(/assets/footer.png) white 45px 0;
    background-repeat: no-repeat;
    color: black;
}

.fourohfour { margin-bottom: 300px; }
