html, body {
    margin: 0;
    padding: 0;
    background: url(/bg.png);
    background-repeat: repeat-x;
    font-family: sans-serif;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    font-style: italic;
    text-decoration: none;
}

h1 {
    margin: 5px auto;
    width: 550px;
    padding: 250px 0 0 0;
    font-family: serif;
    font-style: italic;
    font-size: 25pt;
}

#bottle {
    float: right;
    margin-top: -275px;
}

#header {
    margin: 0 auto;
    padding: 0 20px;
    width: 650px;
    background: url(/banner.png);
    color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    -moz-border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0 0 50px 0;
}

#navigation li {
    margin: 0 75px;
    padding: 0;
}

#navigation li a {
    display: block;
    width: 150px;
    margin: 0;
    padding: 0.5em;
    vertical-align: bottom;
    text-align: center;
    color: white;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
}

#navigation li a:hover {
    background-color: #4671D5;
    color: white;
}

#title a {
    background-color: #06266F;
}

h2 {
    margin: 0 0 1em 0;
    padding: 5px 20px;
    border-bottom: 3px solid navy;
    color: navy;
}

h3 {
    padding: 5px 20px;
    border-bottom: 1px dashed navy;
    color: navy;
}

#content {
    margin: -50px auto;
    padding: 3em 45px 1em 45px;
    width: 600px;
    text-align: justify;
    background-color: white;
    color: black;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    -moz-border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
}

#content table { width: 100%; }
.cover     { width: 200px; padding: 20px;  }
.cover img { border: 2px solid black; }

#content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content li {
    margin: 2em;
}

#content p {
    margin: 0.5em 0;
}

#content a         { color: navy; }
#content a:visited { color: blue; }

.date {
    float: right;
}

#mandolin {
    text-align: center;
    margin: 0;
    padding: 1em;
    white-space: nowrap;
}

#mandolin a {
    font-size: large;
    font-weight: bold;
}

#footer {
    width: 600px;
    height: 60px;
    text-align: center;
    margin: 50px auto;
    padding: 1em 45px;
    background: url(footer.png) white 45px 0;
    background-repeat: no-repeat;
    color: black;
    
}

.fourohfour { margin-bottom: 300px; }
