html, body {
    margin: 0;
    padding: 0;
    background: url(/bg.png);
    background-repeat: repeat-x;
}

a       { color:      blue;   text-decoration: none; }
a:hover { font-style: italic; text-decoration: none; }

h1 {
    margin: 0 0 5px 25%;
    padding: 150px 0 0 0;
    font-family: serif;
    font-style: italic;
    font-size: 40pt;
}

#bottle {
    float: right;
    margin-top: -200px;
}

#header {
    margin: 0 auto;
    padding: 0 3em;
    width: 600px;
    background: url(banner.png);
    color: white;
    border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    margin: 0;
    padding: 0;
}

#navigation li a {
    display: block;
    width: 200px;
    margin: 0;
    padding: 0.5em;
    vertical-align: bottom;
    text-align: center;
    color: white;
    border-radius: 1000px 0;
    -moz-border-radius: 1000px 0;
}

#navigation li a:hover {
    background-color: navy;
    color: white;
}

h2 {
    margin: 0 0 1em 0;
    padding: 5px 20px;
    border-bottom: 3px solid navy;
    color: navy;
}

h3 {
    padding: 5px 20px;
    border-bottom: 1px dashed navy;
    color: navy;
}

#content {
    margin: 0 auto;
    padding: 3em;
    width: 600px;
    text-align: justify;
    background-color: white;
    color: black;
}

.cover {
    width: 0;
    padding: 1em;
}

#mandolin {
    text-align: center;
    margin: 1em;
    padding: 2em;
    white-space: nowrap;
}

#mandolin a {
    font-size: large;
    font-weight: bold;
}

#footer {
    width: 600px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    background: url(footer.png);
    background-repeat: no-repeat;
    color: black;
}
