<!DOCTYPE html>
<html lang="en">
<head>

<meta name="author"
      content="Robert Snyder" />
<meta name="description"
      content="Historical information about dairies in Western Canada." />
<meta name="keywords"
      content="milk,bottle,dairy,dairies,creamery,creameries,Alberta,Saskatchewan,Edmonton,Battleford,Drumheller,Red Deer" />
<meta charset="utf-8" />

<title>DairyBob.ca &mdash; {{ page.title }}</title>

<link rel="stylesheet"
      href="/style.css"
      type="text/css" />
<link rel="author"
      title="Robert Park"
      href="mailto:rbpark@exolucere.ca" />

</head>

<body>

<h1>DairyBob.ca</h1>

<div id="header">
<img id="bottle" src="/bottle.png" height="300" />

<ul id="navigation">
<li {{ page.articles }}><a href="/" title="Recent Writings">Articles</a></li>
<li {{ page.bio }}><a href="/biography" title="About Bob">Biography</a></li>
<li {{ page.books }}><a href="/books" title="Books by Bob">Publications</a></li>
<li {{ page.gallery }}><a href="/gallery" title="Bob's Dairy Collectibles">Collection</a></li>
<li><a href="mailto:dairybobalberta@gmail.com" title="Email Bob">Contact</a></li>
</ul>
</div>

<div id="content">
<h2>{{ page.title }}</h2>
{{ content }}
</div>

<div id="footer">
{% if page.date %}
Written in {{ page.date | date: "%B, %Y" }}.
{% else %}
Update on {{ site.time | date: "%A, %B %e, %Y" }}.
{% endif %}
</div>
</body>
</html>
